.pdf-header {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: space-between;

  &__left-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
